# Baza podataka
# Lokalno (Docker): postgresql://podcast_user:podcast_pass@db:5432/podcast_db?schema=public
# AWS RDS: postgresql://postgres:PASSWORD@ENDPOINT:5432/podcast_db?schema=public&sslmode=no-verify
DATABASE_URL=postgresql://podcast_user:podcast_pass@db:5432/podcast_db?schema=public

# NextAuth
NEXTAUTH_SECRET=your-nextauth-secret-minimum-32-characters
NEXTAUTH_URL=http://localhost:3000

# Google OAuth (opciono - za Google login)
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret

# AWS S3 (opciono - za upload fajlova)
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_REGION=eu-central-1
AWS_S3_BUCKET_NAME=your-s3-bucket-name
